<body>
	<h1>All Contacts</h1>
	<hr class="style-eight"></hr>
	<ul>
		<% @@rolodex.contacts.each do |contact| %>
		<li><%= contact.first_name %> <%= contact.last_name %> 
			<%= contact.email %> <%= contact.note %> 	
			<form method="delete">
				<input type="submit" name="delete_button" value="Delete Contact" id="delete_contact" />
			</form>
		</li>
		<% end %>
	</ul>
</body>