<body>
	<h1>Create New Contact</h1>
	<hr class="style-eight"></hr>
	<form action="/contacts" method="post">
		<label for="first_name" class="label">First name:</label>
		<input type="text" name="first_name" class="text_input">
		<br></br>
		<label for="last_name" class="label">Last name:</label>
		<input type="text" name="last_name" class="text_input">
		<br></br>
		<label for="email" class="label">E-mail address:</label>
		<input type="text" name="email" class="text_input">
		<br></br>
		<label for="note" class="label">Note:</label>
		<input type="text" name="note" class="text_input">
		<br></br>
		<input type="submit" name="Submit" id="submit">
		<!-- Gathers values for the four contact variables. -->
	</form>
</body>