a:hover {
	background-color: black;
	color: white;
}

body {
	background: url("stockvault_vintage_paper.jpg")repeat;
	height: 100%;
}

br {   
	content: "A" !important;
  display: block !important;
  margin-bottom: 0.3em !important;
}

footer {
	position: absolute;
	bottom: 10px;
}

hr.style-eight {
	padding: 0;
	border: none;
	border-top: medium double black;
	color: black;
	text-align: center;
}

html {
	height: 97%;
}

input[type="submit"] {
	background: url("stockvault_vintage_paper.jpg");
	border: 1px solid black;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 1rem;
	padding: 0.5em 0.2em 0.2em 0.1em;
	position: relative;
	text-align: center;
}

input[type="submit"]:hover{
	background-color: black;
	color: white;
}

input[type="text"] {
	display: inline-block;
	font-family: 'Marck Script', cursive, serif, sans-serif;
	font-size: 1rem;
	width: 90%;
}

p {
	margin: 1rem 0rem 0.1rem 0rem;
}

textarea {
	font-family: 'Marck Script', cursive, serif, sans-serif;
	font-size: 1rem;
	width: 90%;
}

ul {
	font-family: 'Marck Script', cursive, serif, sans-serif;
}

.contact_details {
	font-family: 'Mark Script', cursive, serif, sans-serif;
}

.text_input {
	position: relative;
	float: right;
}

#all_contacts_list {
	font-size: 1.25rem;
}

#delete_contact {
	font-size: 1rem;
}

#main {
	float: right;
	text-align: left;
	margin: 0px;
	width: 65%;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
}

#main_menu {
	font-size: 1.35rem;
}

#main_menu, .edit_delete, .label, h1, footer, .menu-items {
	font-family: 'Special Elite', serif, sans-serif;
}

#sidebar {
	float: left;
	text-align: left;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 25%;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
}

#ul_main_menu {
	font-size: 1.25rem;
	list-style: none;
	margin: 2rem 0rem;
}
